/* deklarasi font */

@font-face {
	font-family: 'traditional arabic';
	src: url('../font/trado.ttf');
}

/* css dimulai */

/* cover */

.cover {
	background: white;
	cursor: pointer;
	position: fixed;
	z-index: 2018;
	transition: 1s all;
	top: 0;
}
.cover img {
	width: 80%;
}

/* bagian aplikasi */

img {
	width: 100%;
}

.arab h1 {
	direction: rtl;
	text-align: justify;
	font-family: 'traditional arabic';
}

.arab p {
	text-align: justify;
}

.arab h1,
.arab p,
img.header {
	margin-bottom: 36px;
}